<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <div align="center">
            <h1>Welcome to the Library</h1>
            <p>The Library is a small scale replication of the <a href="https://libraryofbabel.info/">Library of Babel</a>,
                which is said to "contain every book that ever has been written, and every book that ever could be -
                including every play, every song, every scientific paper, every legal decision, every constitution,
                every piece of scripture, and so on". It is made possible by making every possible combination and
                permutation of 1'312'000 characters.</p>
            <p>This Library in it's digital shelves holds digital boxes containing digital cards, each of witch hold
                one of all possible 1 to 9 letter combinations. Any word up to 9 letters ever thought up - existing or
                only living in someone's imagination for now, can be found on one of the cards, perfectly organized in
                on of the boxes, sitting on one of the shelves.</p>
            <p>Each shelf hold 100 boxes, each box hold 100 cards, each card has only one word written on it.</p>
            <a th:href="library" th:text="Library">Click to begin</a>
        </div>
    </body>
</html>