<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <table align="center">
        <h3 align="center">Shelf 1</h3>
        <tr>
            <th><a href="">1</a></th>
            <th><a href="">2</a></th>
            <th><a href="">3</a></th>
            <th><a href="">4</a></th>
            <th><a href="">5</a></th>
            <th><a href="">6</a></th>
            <th><a href="">7</a></th>
            <th><a href="">8</a></th>
            <th><a href="">9</a></th>
            <th><a href="">10</a></th>
        </tr>
        <tr>
            <th><a href="">11</a></th>
            <th><a href="">12</a></th>
            <th><a href="">13</a></th>
            <th><a href="">14</a></th>
            <th><a href="">15</a></th>
            <th><a href="">16</a></th>
            <th><a href="">17</a></th>
            <th><a href="">18</a></th>
            <th><a href="">19</a></th>
            <th><a href="">20</a></th>
        </tr>
        <tr>
            <th><a href="">21</a></th>
            <th><a href="">22</a></th>
            <th><a href="">23</a></th>
            <th><a href="">24</a></th>
            <th><a href="">25</a></th>
            <th><a href="">26</a></th>
            <th><a href="">27</a></th>
            <th><a href="">28</a></th>
            <th><a href="">29</a></th>
            <th><a href="">30</a></th>
        </tr>
        <tr>
            <th><a href="">31</a></th>
            <th><a href="">32</a></th>
            <th><a href="">33</a></th>
            <th><a href="">34</a></th>
            <th><a href="">35</a></th>
            <th><a href="">36</a></th>
            <th><a href="">37</a></th>
            <th><a href="">38</a></th>
            <th><a href="">39</a></th>
            <th><a href="">40</a></th>
        </tr>
        <tr>
            <th><a href="">41</a></th>
            <th><a href="">42</a></th>
            <th><a href="">43</a></th>
            <th><a href="">44</a></th>
            <th><a href="">45</a></th>
            <th><a href="">46</a></th>
            <th><a href="">47</a></th>
            <th><a href="">48</a></th>
            <th><a href="">49</a></th>
            <th><a href="">50</a></th>
        </tr>
        <tr>
            <th><a href="">51</a></th>
            <th><a href="">52</a></th>
            <th><a href="">53</a></th>
            <th><a href="">54</a></th>
            <th><a href="">55</a></th>
            <th><a href="">56</a></th>
            <th><a href="">57</a></th>
            <th><a href="">58</a></th>
            <th><a href="">59</a></th>
            <th><a href="">60</a></th>
        </tr>
        <tr>
            <th><a href="">61</a></th>
            <th><a href="">62</a></th>
            <th><a href="">63</a></th>
            <th><a href="">64</a></th>
            <th><a href="">65</a></th>
            <th><a href="">66</a></th>
            <th><a href="">67</a></th>
            <th><a href="">68</a></th>
            <th><a href="">69</a></th>
            <th><a href="">70</a></th>
        </tr>
        <tr>
            <th><a href="">71</a></th>
            <th><a href="">72</a></th>
            <th><a href="">73</a></th>
            <th><a href="">74</a></th>
            <th><a href="">75</a></th>
            <th><a href="">76</a></th>
            <th><a href="">77</a></th>
            <th><a href="">78</a></th>
            <th><a href="">79</a></th>
            <th><a href="">80</a></th>
        </tr>
        <tr>
            <th><a href="">81</a></th>
            <th><a href="">82</a></th>
            <th><a href="">83</a></th>
            <th><a href="">84</a></th>
            <th><a href="">85</a></th>
            <th><a href="">86</a></th>
            <th><a href="">87</a></th>
            <th><a href="">88</a></th>
            <th><a href="">89</a></th>
            <th><a href="">90</a></th>
        </tr>
        <tr>
            <th><a href="">91</a></th>
            <th><a href="">92</a></th>
            <th><a href="">93</a></th>
            <th><a href="">94</a></th>
            <th><a href="">95</a></th>
            <th><a href="">96</a></th>
            <th><a href="">97</a></th>
            <th><a href="">98</a></th>
            <th><a href="">99</a></th>
            <th><a href="">100</a></th>
        </tr>
    </table>
</body>
</html>